{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      {# TODO Form do uzupełnienia danych coacha! #}
      <div class="form-group">
         
      </div>
      <button type="submit" class="btn btn-primary">Wyślij prośbę o autoryzację</button>
    </div>
  </div>
</div>

{% endblock %}